body {font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: palevioletred;}
.container 
    {width: 80%;
    margin: auto;
    overflow: hidden;}
header {
    background: #333;
    color: #fff;
    padding-top: 30px;
    min-height: 70px;
    border-bottom: #77D42A 3px solid;
}
header a {
    color: palegreen;
    text-decoration: teal;
    text-transform: uppercase;
    font-size: 16px;
}
header ul {
    padding: 0;
    list-style: none;
}
header li {
    float: right;
    display: inline;
    padding: 0 20px 0 20px;
}
header .logo {
    float: left;
}
header .logo h1 {
    margin: 0;
}
.main-content {
    padding: 30px 0;
}
.main-content h1 {
    color: #333;
}
.main-content p {
    color: #666;
}