body {font-family: Georgia;}
.container 
    {width: 60%;
    margin: auto;
    overflow: hidden;}
header 
    {background: transparent;
    color:transparent;
    padding-top: 30px;
    min-height: 70px;
    border-bottom: red 3px solid;}
header
    {color: purple;
    text-decoration: teal;
    text-transform: uppercase;
    font-size: 16px;}
header ul {
    padding: 0;
    list-style: none;}
header li 
    {float: right;
    display: inline;
    padding: 0 20px 0 20px;}
header .logo
    {float: left;}
header .logo h1 {
    margin: 0;}
