.navbar {
    background: #010101; font-family: "Montserrat", sans-serif; padding-right: 15px; padding-left: 15px;
}

.navdiv {
    display: flex; align-items: center; justify-content: space-between;
}

li {
    list-style: none; display: inline-block;
}

li a {
    color: white; font-size: 18px; font-weight: bold; margin-right: 25px;
}

button {
    background-color: #00563B;
}