body {font-family:"Montserrat", sans-serif ;
    background-image: url(../images/f1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    margin: 0;
    padding: 0;
}

.navbar {
    background: #2C021C; 
    font-family: "Montserrat", sans-serif; 
    padding: 5px 15px;
}

.navdiv {
    display: flex; 
    align-items: center; 
    justify-content: flex-end;
}

.logo {
    width: 60px;
    height: 60px; 
}

li {
    list-style: none; 
    display: inline-block; 
    padding-left: 45px;
}

li a {
    color: white; 
    font-size: 18px; 
    font-weight: bold; 
    margin-right: 25px;
}

button {
    background-color: #00563B; 
    margin-left: 10px; 
    border-radius: 10px; 
    padding: 10px; 
    width: 90px;
}

button:hover {
    background-color: #007A5E;
}

button a {
    color: white;
}

a {
    text-decoration: none;
}

.box
   {width: 250px;
    margin: auto;
    overflow: hidden;
    background:transparent;
    background-color:rgba(195, 22, 160, 0.5)}

 h2 {
    color: pink;
}
 p {
    color: black;
}

.container
{display:flex;
justify-content: space-between;
}