body{background-size: cover; background-image:url(../images/f1.jpg) ;}

h1{color: rgb(213, 14, 150); font: size 30px;; font-family :Arial, Helvetica, sans-serif;}

.fastLaneFlyers {
    font-size:20px;
    height:45%;
    width: 33%;
    background:transparent;
    background-color: #FFF4A3;
    border-radius: 10px;
    margin: auto;
    float:left;
  }

.KartingQueens {
    font-size:20px;
    height:45%;
    width: 33%;
    background:transparent;
    background-color: #FFF4A3;
    border-radius: 10px;
    margin: auto;
    margin-right: auto;
  }

  .WomensDay{
    font-size:20px;
    height:45%;
    width: 33%;
    background:transparent;
    background-color: #FFF4A3;
    border-radius: 10px;
    flex-direction: ;

  }
